.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .navdivider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.navtabs {
  border-bottom: 1px solid #ddd;
}
.navtabs > li {
  float: left;
  margin-bottom: -1px;
}
.navtabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.navtabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.navtabs > li.active > a,
.navtabs > li.active > a:hover,
.navtabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.navtabs.navjustified {
  width: 100%;
  border-bottom: 0;
}
.navtabs.navjustified > li {
  float: none;
}
.navtabs.navjustified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.navtabs.navjustified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .navtabs.navjustified > li {
    display: table-cell;
    width: 1%;
  }
  .navtabs.navjustified > li > a {
    margin-bottom: 0;
  }
}
.navtabs.navjustified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.navtabs.navjustified > .active > a,
.navtabs.navjustified > .active > a:hover,
.navtabs.navjustified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .navtabs.navjustified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .navtabs.navjustified > .active > a,
  .navtabs.navjustified > .active > a:hover,
  .navtabs.navjustified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.navpills > li {
  float: left;
}
.navpills > li > a {
  border-radius: 4px;
}
.navpills > li + li {
  margin-left: 2px;
}
.navpills > li.active > a,
.navpills > li.active > a:hover,
.navpills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}
.navstacked > li {
  float: none;
}
.navstacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.navjustified {
  width: 100%;
}
.navjustified > li {
  float: none;
}
.navjustified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.navjustified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .navjustified > li {
    display: table-cell;
    width: 1%;
  }
  .navjustified > li > a {
    margin-bottom: 0;
  }
}
.navtabs-justified {
  border-bottom: 0;
}
.navtabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.navtabs-justified > .active > a,
.navtabs-justified > .active > a:hover,
.navtabs-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .navtabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .navtabs-justified > .active > a,
  .navtabs-justified > .active > a:hover,
  .navtabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.navtabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar {
  position: relative !important;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbarheader {
    float: left;
  }
}
.navbarcollapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbarcollapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbarcollapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbarcollapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbarcollapse.in {
    overflow-y: visible;
  }
  .navbarfixedtop .navbarcollapse,
  .navbarstatictop .navbarcollapse,
  .navbarfixedbottom .navbarcollapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.navbarfixedtop .navbarcollapse,
.navbarfixedbottom .navbarcollapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbarfixedtop .navbarcollapse,
  .navbarfixedbottom .navbarcollapse {
    max-height: 200px;
  }
}
.container > .navbarheader,
.container-fluid > .navbarheader,
.container > .navbarcollapse,
.container-fluid > .navbarcollapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbarheader,
  .container-fluid > .navbarheader,
  .container > .navbarcollapse,
  .container-fluid > .navbarcollapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbarstatictop {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbarstatictop {
    border-radius: 0;
  }
}
.navbarfixedtop,
.navbarfixedbottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbarfixedtop,
  .navbarfixedbottom {
    border-radius: 0;
  }
}
.navbarfixedtop {
  top: 0;
  border-width: 0 0 1px;
}
.navbarfixedbottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbarbrand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbarbrand:hover,
.navbarbrand:focus {
  text-decoration: none;
}
.navbarbrand > img {
  display: block;
}
@media (min-width: 768px) {
  .navbar > .container .navbarbrand,
  .navbar > .container-fluid .navbarbrand {
    margin-left: -15px;
  }
}
.navbartoggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbartoggle:focus {
  outline: 0;
}
.navbartoggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbartoggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbartoggle {
    display: none;
  }
}
.navbarnav {
  margin: 7.5px -15px;
}
.navbarnav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbarnav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbarnav .open .dropdown-menu > li > a,
  .navbarnav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbarnav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbarnav .open .dropdown-menu > li > a:hover,
  .navbarnav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbarnav {
    float: left;
    margin: 0;
  }
  .navbarnav > li {
    float: left;
  }
  .navbarnav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.navbarform {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
@media (min-width: 768px) {
  .navbarform .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbarform .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbarform .form-control-static {
    display: inline-block;
  }
  .navbarform .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbarform .input-group .input-group-addon,
  .navbarform .input-group .input-group-btn,
  .navbarform .input-group .form-control {
    width: auto;
  }
  .navbarform .input-group > .form-control {
    width: 100%;
  }
  .navbarform .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbarform .radio,
  .navbarform .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbarform .radio label,
  .navbarform .checkbox label {
    padding-left: 0;
  }
  .navbarform .radio input[type="radio"],
  .navbarform .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbarform .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbarform .form-group {
    margin-bottom: 5px;
  }
  .navbarform .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .navbarform {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.navbarnav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbarfixedbottom .navbarnav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbarbtn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbarbtn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbarbtn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.navbartext {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .navbartext {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .navbarleft {
    float: left !important;
  }
  .navbarright {
    float: right !important;
    margin-right: -15px;
  }
  .navbarright ~ .navbarright {
    margin-right: 0;
  }
}
.navbardefault {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbardefault .navbarbrand {
  color: #777;
}
.navbardefault .navbarbrand:hover,
.navbardefault .navbarbrand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbardefault .navbartext {
  color: #777;
}
.navbardefault .navbarnav > li > a {
  color: #777;
}
.navbardefault .navbarnav > li > a:hover,
.navbardefault .navbarnav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbardefault .navbarnav > .active > a,
.navbardefault .navbarnav > .active > a:hover,
.navbardefault .navbarnav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbardefault .navbarnav > .disabled > a,
.navbardefault .navbarnav > .disabled > a:hover,
.navbardefault .navbarnav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbardefault .navbartoggle {
  border-color: #ddd;
}
.navbardefault .navbartoggle:hover,
.navbardefault .navbartoggle:focus {
  background-color: #ddd;
}
.navbardefault .navbartoggle .icon-bar {
  background-color: #888;
}
.navbardefault .navbarcollapse,
.navbardefault .navbarform {
  border-color: #e7e7e7;
}
.navbardefault .navbarnav > .open > a,
.navbardefault .navbarnav > .open > a:hover,
.navbardefault .navbarnav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbardefault .navbarnav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbardefault .navbarnav .open .dropdown-menu > li > a:hover,
  .navbardefault .navbarnav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbardefault .navbarnav .open .dropdown-menu > .active > a,
  .navbardefault .navbarnav .open .dropdown-menu > .active > a:hover,
  .navbardefault .navbarnav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbardefault .navbarnav .open .dropdown-menu > .disabled > a,
  .navbardefault .navbarnav .open .dropdown-menu > .disabled > a:hover,
  .navbardefault .navbarnav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbardefault .navbarlink {
  color: #777;
}
.navbardefault .navbarlink:hover {
  color: #333;
}
.navbardefault .btn-link {
  color: #777;
}
.navbardefault .btn-link:hover,
.navbardefault .btn-link:focus {
  color: #333;
}
.navbardefault .btn-link[disabled]:hover,
fieldset[disabled] .navbardefault .btn-link:hover,
.navbardefault .btn-link[disabled]:focus,
fieldset[disabled] .navbardefault .btn-link:focus {
  color: #ccc;
}
.navbarinverse {
  background-color: #222;
  border-color: #080808;
}
.navbarinverse .navbarbrand {
  color: #9d9d9d;
}
.navbarinverse .navbarbrand:hover,
.navbarinverse .navbarbrand:focus {
  color: #fff;
  background-color: transparent;
}
.navbarinverse .navbartext {
  color: #9d9d9d;
}
.navbarinverse .navbarnav > li > a {
  color: #9d9d9d;
}
.navbarinverse .navbarnav > li > a:hover,
.navbarinverse .navbarnav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbarinverse .navbarnav > .active > a,
.navbarinverse .navbarnav > .active > a:hover,
.navbarinverse .navbarnav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbarinverse .navbarnav > .disabled > a,
.navbarinverse .navbarnav > .disabled > a:hover,
.navbarinverse .navbarnav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbarinverse .navbartoggle {
  border-color: #333;
}
.navbarinverse .navbartoggle:hover,
.navbarinverse .navbartoggle:focus {
  background-color: #333;
}
.navbarinverse .navbartoggle .icon-bar {
  background-color: #fff;
}
.navbarinverse .navbarcollapse,
.navbarinverse .navbarform {
  border-color: #101010;
}
.navbarinverse .navbarnav > .open > a,
.navbarinverse .navbarnav > .open > a:hover,
.navbarinverse .navbarnav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbarinverse .navbarnav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbarinverse .navbarnav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbarinverse .navbarnav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbarinverse .navbarnav .open .dropdown-menu > li > a:hover,
  .navbarinverse .navbarnav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbarinverse .navbarnav .open .dropdown-menu > .active > a,
  .navbarinverse .navbarnav .open .dropdown-menu > .active > a:hover,
  .navbarinverse .navbarnav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbarinverse .navbarnav .open .dropdown-menu > .disabled > a,
  .navbarinverse .navbarnav .open .dropdown-menu > .disabled > a:hover,
  .navbarinverse .navbarnav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbarinverse .navbarlink {
  color: #9d9d9d;
}
.navbarinverse .navbarlink:hover {
  color: #fff;
}
.navbarinverse .btn-link {
  color: #9d9d9d;
}
.navbarinverse .btn-link:hover,
.navbarinverse .btn-link:focus {
  color: #fff;
}
.navbarinverse .btn-link[disabled]:hover,
fieldset[disabled] .navbarinverse .btn-link:hover,
.navbarinverse .btn-link[disabled]:focus,
fieldset[disabled] .navbarinverse .btn-link:focus {
  color: #444;
}
