.about {
  padding: 100px 0;
  background: #f6f6f6;
}
.about .abouttext {
  margin-left: 10px;
}
.about img {
  float: right;
}
.about p {
  margin-top: 20px;
  margin-bottom: 30px;
}
.sectiontitle .center {
  padding: 25px 0 45px 0;
}
.textcenter {
  text-align: center;
}
.imgresponsive {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  #about img {
    float: left;
    margin-bottom: 20px;
  }
}