.intro {
	display: table;
	width: 100%;
	height: auto;
	text-align: center;
	color: #fff;
	background: url(../../Images/intro-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	padding: 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100&0.85+0,0.85+100 */
	background: -moz-linear-gradient(left, rgba(107,77,168,0.85) 0%, rgba(73,119,194,0.85) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(107,77,168,0.85) 0%, rgba(73,119,194,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #d9f7f726 0%, rgba(73,119,194,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d96b4da8', endColorstr='#d94977c2', GradientType=1 ); /* IE6-9 */
}
.sectiontitle .center {
	padding: 25px 0 45px 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.intro-text {
	margin:0px auto;
}
@media(min-width:768px) {
.intro {
	height: 100%;
	padding: 0;
	color: #fff;
}
.intro H1 {
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
}
.intro .intro-text p {
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	letter-spacing: 2px;
}
header .intro-text {
	padding-top: 150px;
	padding-bottom: 150px;
}
}