.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btndefault {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btndefault:hover,
.btndefault:focus,
.btndefault.focus,
.btndefault:active,
.btndefault.active,
.open > .dropdown-toggle.btndefault {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btndefault:active,
.btndefault.active,
.open > .dropdown-toggle.btndefault {
  background-image: none;
}
.btndefault.disabled,
.btndefault[disabled],
fieldset[disabled] .btndefault,
.btndefault.disabled:hover,
.btndefault[disabled]:hover,
fieldset[disabled] .btndefault:hover,
.btndefault.disabled:focus,
.btndefault[disabled]:focus,
fieldset[disabled] .btndefault:focus,
.btndefault.disabled.focus,
.btndefault[disabled].focus,
fieldset[disabled] .btndefault.focus,
.btndefault.disabled:active,
.btndefault[disabled]:active,
fieldset[disabled] .btndefault:active,
.btndefault.disabled.active,
.btndefault[disabled].active,
fieldset[disabled] .btndefault.active {
  background-color: #fff;
  border-color: #ccc;
}
.btndefault .badge {
  color: #fff;
  background-color: #333;
}
.btnprimary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btnprimary:hover,
.btnprimary:focus,
.btnprimary.focus,
.btnprimary:active,
.btnprimary.active,
.open > .dropdown-toggle.btnprimary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btnprimary:active,
.btnprimary.active,
.open > .dropdown-toggle.btnprimary {
  background-image: none;
}
.btnprimary.disabled,
.btnprimary[disabled],
fieldset[disabled] .btnprimary,
.btnprimary.disabled:hover,
.btnprimary[disabled]:hover,
fieldset[disabled] .btnprimary:hover,
.btnprimary.disabled:focus,
.btnprimary[disabled]:focus,
fieldset[disabled] .btnprimary:focus,
.btnprimary.disabled.focus,
.btnprimary[disabled].focus,
fieldset[disabled] .btnprimary.focus,
.btnprimary.disabled:active,
.btnprimary[disabled]:active,
fieldset[disabled] .btnprimary:active,
.btnprimary.disabled.active,
.btnprimary[disabled].active,
fieldset[disabled] .btnprimary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btnprimary .badge {
  color: #337ab7;
  background-color: #fff;
}
.btnsuccess {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btnsuccess:hover,
.btnsuccess:focus,
.btnsuccess.focus,
.btnsuccess:active,
.btnsuccess.active,
.open > .dropdown-toggle.btnsuccess {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btnsuccess:active,
.btnsuccess.active,
.open > .dropdown-toggle.btnsuccess {
  background-image: none;
}
.btnsuccess.disabled,
.btnsuccess[disabled],
fieldset[disabled] .btnsuccess,
.btnsuccess.disabled:hover,
.btnsuccess[disabled]:hover,
fieldset[disabled] .btnsuccess:hover,
.btnsuccess.disabled:focus,
.btnsuccess[disabled]:focus,
fieldset[disabled] .btnsuccess:focus,
.btnsuccess.disabled.focus,
.btnsuccess[disabled].focus,
fieldset[disabled] .btnsuccess.focus,
.btnsuccess.disabled:active,
.btnsuccess[disabled]:active,
fieldset[disabled] .btnsuccess:active,
.btnsuccess.disabled.active,
.btnsuccess[disabled].active,
fieldset[disabled] .btnsuccess.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btnsuccess .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btninfo {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btninfo:hover,
.btninfo:focus,
.btninfo.focus,
.btninfo:active,
.btninfo.active,
.open > .dropdown-toggle.btninfo {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btninfo:active,
.btninfo.active,
.open > .dropdown-toggle.btninfo {
  background-image: none;
}
.btninfo.disabled,
.btninfo[disabled],
fieldset[disabled] .btninfo,
.btninfo.disabled:hover,
.btninfo[disabled]:hover,
fieldset[disabled] .btninfo:hover,
.btninfo.disabled:focus,
.btninfo[disabled]:focus,
fieldset[disabled] .btninfo:focus,
.btninfo.disabled.focus,
.btninfo[disabled].focus,
fieldset[disabled] .btninfo.focus,
.btninfo.disabled:active,
.btninfo[disabled]:active,
fieldset[disabled] .btninfo:active,
.btninfo.disabled.active,
.btninfo[disabled].active,
fieldset[disabled] .btninfo.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btninfo .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btnwarning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btnwarning:hover,
.btnwarning:focus,
.btnwarning.focus,
.btnwarning:active,
.btnwarning.active,
.open > .dropdown-toggle.btnwarning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btnwarning:active,
.btnwarning.active,
.open > .dropdown-toggle.btnwarning {
  background-image: none;
}
.btnwarning.disabled,
.btnwarning[disabled],
fieldset[disabled] .btnwarning,
.btnwarning.disabled:hover,
.btnwarning[disabled]:hover,
fieldset[disabled] .btnwarning:hover,
.btnwarning.disabled:focus,
.btnwarning[disabled]:focus,
fieldset[disabled] .btnwarning:focus,
.btnwarning.disabled.focus,
.btnwarning[disabled].focus,
fieldset[disabled] .btnwarning.focus,
.btnwarning.disabled:active,
.btnwarning[disabled]:active,
fieldset[disabled] .btnwarning:active,
.btnwarning.disabled.active,
.btnwarning[disabled].active,
fieldset[disabled] .btnwarning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btnwarning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btndanger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btndanger:hover,
.btndanger:focus,
.btndanger.focus,
.btndanger:active,
.btndanger.active,
.open > .dropdown-toggle.btndanger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btndanger:active,
.btndanger.active,
.open > .dropdown-toggle.btndanger {
  background-image: none;
}
.btndanger.disabled,
.btndanger[disabled],
fieldset[disabled] .btndanger,
.btndanger.disabled:hover,
.btndanger[disabled]:hover,
fieldset[disabled] .btndanger:hover,
.btndanger.disabled:focus,
.btndanger[disabled]:focus,
fieldset[disabled] .btndanger:focus,
.btndanger.disabled.focus,
.btndanger[disabled].focus,
fieldset[disabled] .btndanger.focus,
.btndanger.disabled:active,
.btndanger[disabled]:active,
fieldset[disabled] .btndanger:active,
.btndanger.disabled.active,
.btndanger[disabled].active,
fieldset[disabled] .btndanger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btndanger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btnlink {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.btnlink,
.btnlink:active,
.btnlink.active,
.btnlink[disabled],
fieldset[disabled] .btnlink {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btnlink,
.btnlink:hover,
.btnlink:focus,
.btnlink:active {
  border-color: transparent;
}
.btnlink:hover,
.btnlink:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btnlink[disabled]:hover,
fieldset[disabled] .btnlink:hover,
.btnlink[disabled]:focus,
fieldset[disabled] .btnlink:focus {
  color: #777;
  text-decoration: none;
}
.btnlg,
.btngrouplg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btnsm,
.btngroupsm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btnxs,
.btngroup-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btnblock {
  display: block;
  width: 100%;
}
.btnblock + .btnblock {
  margin-top: 5px;
}
input[type="submit"].btnblock,
input[type="reset"].btnblock,
input[type="button"].btnblock {
  width: 100%;
}
.btn .caret {
  margin-left: 0;
}
.btnlg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}
.dropup .btnlg .caret {
  border-width: 0 5px 5px;
}
.btndefault {
  color: rgba(255,255,255,0.8);
  background-color: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  padding: 12px 20px;
  margin: 0;
  font-size: 15px;
  border-radius: 0;
  text-transform: uppercase;
}
.btndefault:hover, .btndefault:focus, .btndefault.focus, .btndefault:active, .btndefault.active {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btnprimary {
  color: #526cbb;
  background-color: transparent;
  padding: 12px 20px;
  border: 2px solid #526cbb;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}
.btnprimary:hover, .btnprimary:focus, .btnprimary.focus, .btnprimary:active, .btnprimary.active {
  color: #fff;
  background-color: #526cbb;
  border-color: #526cbb;
}
.btnprimary i.fa {
  margin-right: 10px;
}
.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: none;
}
.btngroup,
.btngroup-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btngroup > .btn,
.btngroup-vertical > .btn {
  position: relative;
  float: left;
}
.btngroup > .btn:hover,
.btngroup-vertical > .btn:hover,
.btngroup > .btn:focus,
.btngroup-vertical > .btn:focus,
.btngroup > .btn:active,
.btngroup-vertical > .btn:active,
.btngroup > .btn.active,
.btngroup-vertical > .btn.active {
  z-index: 2;
}
.btngroup .btn + .btn,
.btngroup .btn + .btngroup,
.btngroup .btngroup + .btn,
.btngroup .btngroup + .btngroup {
  margin-left: -1px;
}
.btntoolbar {
  margin-left: -5px;
}
.btntoolbar .btngroup,
.btntoolbar .input-group {
  float: left;
}
.btntoolbar > .btn,
.btntoolbar > .btngroup,
.btntoolbar > .input-group {
  margin-left: 5px;
}
.btngroup > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btngroup > .btn:first-child {
  margin-left: 0;
}
.btngroup > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btngroup > .btn:last-child:not(:first-child),
.btngroup > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btngroup > .btngroup {
  float: left;
}
.btngroup > .btngroup:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btngroup > .btngroup:first-child:not(:last-child) > .btn:last-child,
.btngroup > .btngroup:first-child:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btngroup > .btngroup:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btngroup .dropdown-toggle:active,
.btngroup.open .dropdown-toggle {
  outline: 0;
}
.btngroup > .btn + .dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px;
}
.btngroup > .btnlg + .dropdown-toggle {
  padding-right: 12px;
  padding-left: 12px;
}
.btngroup.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btngroup.open .dropdown-toggle.btnlink {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn .caret {
  margin-left: 0;
}
.btnlg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}
.dropup .btnlg .caret {
  border-width: 0 5px 5px;
}
.btngroup-vertical > .btn,
.btngroup-vertical > .btngroup,
.btngroup-vertical > .btngroup > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.btngroup-vertical > .btngroup > .btn {
  float: none;
}
.btngroup-vertical > .btn + .btn,
.btngroup-vertical > .btn + .btngroup,
.btngroup-vertical > .btngroup + .btn,
.btngroup-vertical > .btngroup + .btngroup {
  margin-top: -1px;
  margin-left: 0;
}
.btngroup-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btngroup-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btngroup-vertical > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
.btngroup-vertical > .btngroup:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btngroup-vertical > .btngroup:first-child:not(:last-child) > .btn:last-child,
.btngroup-vertical > .btngroup:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btngroup-vertical > .btngroup:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btngroup-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.btngroup-justified > .btn,
.btngroup-justified > .btngroup {
  display: table-cell;
  float: none;
  width: 1%;
}
.btngroup-justified > .btngroup .btn {
  width: 100%;
}
.btngroup-justified > .btngroup .dropdown-menu {
  left: auto;
}
[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btngroup > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btngroup > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}