.row {
  margin-right: -15px;
  margin-left: -15px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.textleft {
  textalign: left;
}
.textright {
  textalign: right;
}
.textcenter {
  textalign: center;
}
.textjustify {
  textalign: justify;
}
.textnowrap {
  white-space: nowrap;
}
.textlowercase {
  texttransform: lowercase;
}
.textuppercase {
  texttransform: uppercase;
}
.textcapitalize {
  texttransform: capitalize;
}
.textprimary {
  color: #337ab7;
}
a.textprimary:hover {
  color: #286090;
}
.textsuccess {
  color: #3c763d;
}
a.textsuccess:hover {
  color: #2b542c;
}
.textinfo {
  color: #31708f;
}
a.textinfo:hover {
  color: #245269;
}
.textwarning {
  color: #8a6d3b;
}
a.textwarning:hover {
  color: #66512c;
}
.textdanger {
  color: #a94442;
}
a.textdanger:hover {
  color: #843534;
}
.bgprimary {
  color: #fff;
  background-color: #337ab7;
}
a.bgprimary:hover {
  background-color: #286090;
}
.bgsuccess {
  background-color: #dff0d8;
}
a.bgsuccess:hover {
  background-color: #c1e2b3;
}
.bginfo {
  background-color: #d9edf7;
}
a.bginfo:hover {
  background-color: #afd9ee;
}
.bgwarning {
  background-color: #fcf8e3;
}
a.bgwarning:hover {
  background-color: #f7ecb5;
}
.bgdanger {
  background-color: #f2dede;
}
a.bgdanger:hover {
  background-color: #e4b9b9;
}
.pageheader {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}